@use "../variables";

.auth-form {
    width: 90%;
    max-width: 350px;
    margin: 30px auto 0;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 25px 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .title {
        width: 90%;
        font-size: 26px;
        text-align: left;
        margin-bottom: 5px;
    }
    .continue {
        width: 90%;
        text-align: center;
        padding: 8px;
        background: variables.$yellow;
        border-radius: 4px;
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        &:hover {
            background: variables.$dark-yellow;
        }
    }
}