.children {
    width: 100%;
    margin: 0 auto;
    padding-top: 62px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &.unfinished {
        padding-top: 98px;
    }
}

@media screen and (max-width: 950px) {
    .children {
        padding-top: 148px;
        &.unfinished {
            padding-top: 182px;
        }
    }
}